<body>
<div class="panel panel-primary" ng-controller='addstudent'>
    <div class="panel-heading">新增页面</div>
    <div  class="panel-body">
        <form class="form-horizontal" novalidate="novalidate" name="myfrom">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" placeholder="请输入姓名" name="userName" ng-model="user.name" required>
                    <p style="color: red;" ng-show="myfrom.userName.$error.required">定要要输入才可以哟！</p>
                </div>
            </div>
            <div class="form-group">
                <label for="qq" class="col-sm-2 control-label">QQ</label>
                <div class="col-sm-10">
                    <input type="text" name="qq" ng-maxlength="12" class="form-control" id="qq" placeholder="请输入qq号码" ng-model="user.qq">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">修真类型</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="type" value="1" > CSS
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="type" value="2"> JS
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="type"  value="3"> JAVA
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="type" value="4" > 运维
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="type" value="5"> DBA
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="type" value="6"> 产品
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="type" value="7"> Android
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="type" value="8"> IOS
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="school" class="col-sm-2 control-label">毕业学院</label>
                <div class="col-sm-10">
                    <input type="text" name="school" class="form-control" id="school" placeholder="请输入毕业院校">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">资质</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="talent" value="1"> 学霸
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="talent" value="2"> 学渣
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">资质</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="time" value="1"> 零基础
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="time" value="2"> 修行三个月以内
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="time" value="3"> 修行六个月以内
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="time" value="4"> 修行一年以内
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="time" value="5"> 修行三年以内
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="time" value="6"> 修行三年以上
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">入学时间</label>
                <div class="col-sm-4">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button></span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="say" class="col-sm-2 control-label">修行立愿</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="say" ></textarea>
                </div>
            </div>
            <div class="row innerbutton">
                <div class="col-sm-4 col-sm-offset-2">
                    <button href="#" class="btn btn-primary btn-lg" role="button">确定</button>
                </div>
                <div class="col-sm-4 col-sm-offset-2">
                    <button href="#" class="btn btn-primary btn-lg" role="button">取消</button>
                </div>
            </div>
        </form>
    </div><!--上层列表结束-->
</div><!--路由内容结束-->
