<div class="panel panel-primary" ng-controller=listData>
    <div class="panel-heading">列表管理</div>
    <div  class="panel-body">
        <div class="row">
            <div class="col-sm-3">
                类型：
                <select class="selectpicker" ng-model="type">
                    <option value="">全部</option>
                    <option value="1">CSS</option>
                    <option value="2">JS</option>
                    <option value="3">JAVA</option>
                    <option value="4">运维</option>
                    <option value="5">DBA</option>
                    <option value="6">产品</option>
                    <option value="7">Android</option>
                    <option value="8">IOS</option>
                </select>
            </div>
            <div class="col-sm-3">
                资质：
                <select class="selectpicker" ng-model="talent">
                    <option value="">全部</option>
                    <option value="1">学霸</option>
                    <option value="2">学渣</option>
                </select>
            </div>
            <div class="col-sm-3">
                等级：
                <select class="selectpicker" ng-model="level">
                    <option value="">全部</option>
                    <option value="1">零基础</option>
                    <option value="2">修行三个月内</option>
                    <option value="3">修行六个月内</option>
                    <option value="4">修行一年以内</option>
                    <option value="5">修行三年以内</option>
                    <option value="6">修行三年以上</option>
                </select>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-primary btn-sm" ng-click="search()">搜索</button>
            </div>
        </div>
        <div class="panel panel-primary group-inner">
            <div class="panel-heading">
                内容列表
                <button type="button" class="btn btn-warning btn-xs pull-right">新增</button>
            </div>
            <div  class="panel-body inner-list" >
                <table class="table table-striped table-inner" ng-if="items" >
                    <tr style="text-align: center">
                        <th>ID</th>
                        <th>姓名</th>
                        <th>类型</th>
                        <th>报名时间</th>
                        <th>操作</th>
                    </tr>
                    <tr ng-repeat="item in items | paging:currentPage">
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.joinTime | date:"yyyy-MM-dd hh:mm:ss" }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-xs">编辑</button>
                            <button type="button" ng-click="remove(item.id)" class="btn btn-primary btn-xs">删除</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!--页码按钮开始-->
      <ul uib-pagination total-items="totalItems" ng-change="pageChanged()" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页"></ul>
    </div><!--上层列表结束-->
</div><!--路由内容结束-->